:root{
    --preto: #353535;
    --roxo-main: #c935f2;
    --roxo-secund:#4c1a59;
    --cinza: #f0f0f0;
    --branco: #ffffff;
    --cinza-escuro:#b1b1b1;
    --azul:#5d35f2;
    --vermelho:#f2355e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    width: 100vw;
    height: 100vh;
    font-size: 100%;
    font-family: "Montserrat";
    background-color: var(--cinza);
}
/* estilização da caixa modal da pagina inicial */
#modalbox{
    width: 100vw;
    height: 100vh; 
    background-color: rgb(0, 0, 0, 0.7);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    position: absolute;
    z-index: 1000;
    
}
#modalbox .box1{
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 1rem;
}
#modalbox .boximg{
    display: flex;
    justify-content: center;
}
#modalbox .boximg img{
  width: 30%;

}
.boxinfo{
    text-align: center;
}
#modalbox input{
    font-family: "Montserrat_medium";
    width: 60%;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--roxo-main);
    text-align: center;
    outline-color: var(--azul);
    font-size: 1rem;
    color: var(--branco);
}
#modalbox input::placeholder{
    color: var(--preto);
    text-align: center;
    font-family: "Montserrat_medium";
}
#modalbox button{
    width: 40%;
    height: 2rem;
    border-radius: 2rem;
    outline: none;
    border: var(--roxo-main) solid;
    background-color: transparent;
    font-family: "Montserrat_medium";
    color: var(--roxo-main);
    cursor: pointer;

}
#modalbox button:hover{
    color: var(--preto);
    border: none;
    background-color: var(--roxo-main);
}
#modalbox button:hover:active{
    background-color: #d574f0;
}

/* estilização da pagina principal */
#windowsmain{
    display: grid;
    grid-template-columns: 1fr 5fr;
    max-height: 100vh;
}

/* estilização da aria esquerda geral de todas as janelas */
#secao_esquerda{
    background-color: var(--branco);
    height: 100vh;
    padding: 10%;
    
}
.logoPq{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8%;
}
#boxmenu{
    background-color: var(--cinza);
    border-radius: 10%;
    padding: .5rem;
    margin-bottom: 2rem;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.171);
}
.boxmenuitems{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row-reverse;
    padding: .3rem;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: .3rem;
}
.boxmenuitems:hover{
    background-color: var(--cinza-escuro);
}
.boxmenuitems:hover:active{
    background-color: var(--cinza);
}
.boxmenuitems img{
    width: 15%;
    margin-right: .4rem;
}
#boxfilter{
    background-color: var(--cinza);
    border-radius: 10%;
    padding: .8rem;
    height: 65%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.171);
}
#filter{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem;
    border-radius: .8rem;
    border: var(--roxo-main) solid;
}
#filter img{
    width: 2%;
    position: absolute;
    left: 11%;
}
#filterlist{
    border: none;
    outline: none;
    appearance: none;
    width: 100%;
    position: relative;
    background-color: transparent;
    z-index: 999;
    color: var(--cinza-escuro);
}
#displayfilter{
    padding: .8rem;
    display: flex;
    flex-direction: column;
}
.display_filter_itens{
    margin-bottom: .4rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align: start;
    font-family: "Montserrat_medium";
    border-radius: .3rem;
    transition: .4s ease;
}
.display_filter_itens:hover{
    background-color: var(--cinza-escuro);
    padding: .3rem;
}
.display_filter_itens:hover:active{
    background-color: var(--cinza);
}

/* começo da estilização da 
janela pagina inicial */

/* estilização da aria direita da pagina inicial */
#secao_direita_pagina_inicial{
    padding: 2rem;
    height: 100vh;
}
#boxtitle{
    display: flex;
    margin-bottom: 1rem;
    align-items: end;
}
#boxtitle h1{
    font-weight: 900;
}
#boxtitle p{
    display: flex;
    align-items: end;
    margin-bottom: .3rem;
    margin-left: 0.3rem;
}
#boxtoolbar{
    border: var(--roxo-main) solid;
    display: flex;
    padding: .5rem;
    border-radius: 5rem;
    align-items: center;
    gap: 2rem;
}
#btn_new_list{
    background-color: var(--roxo-main);
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--preto);
    width: 30%;
    border-radius: 5rem;
    font-size: 2rem;
    font-family: "Montserrat_black";
}
#btn_new_list:hover{
    color: var(--branco);
}
#btn_new_list:hover:active{
    background-color: var(--roxo-secund);
}
.btn_clean{
    border: none;
    padding: .3rem;
    outline: none;
    border-radius: .3rem;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
}
.btn_clean:hover{
    background-color: var(--cinza-escuro);
}
.btn_clean:hover:active{
    background-color: var(--cinza);
}
#boxtoolbar p{
    font-size: 1rem;
}
#boxsearch{
    background-color: var(--branco);
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding: .4rem;
    border-radius: 5rem;
    flex: .1rem;
}
#input_search{
    border: none;
    outline: none;
    width: 100%;
}
#boxsearch img{
    width: 5%;
}
#display_list{
    background-color: var(--branco);
    margin-top: 1rem;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto, 1fr);
    overflow-y: scroll;
    padding: 1rem;
    height: 75%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.171);
    scrollbar-color: none;
}
#display_list::-webkit-scrollbar{
    display: none;
}
.list{
    background-color: var(--roxo-main);
    border-radius: 2rem;
    padding: 1.5rem;
    display: flex;
    align-items: end;
    max-height: 130px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 1rem;
    height: 120px;
}
.list:hover{
    background-color: var(--roxo-secund);
    color: var(--branco);
}
.list:hover:active{
    background-color: var(--roxo-main);
}


/* estilização gerais das arias direitas das panelas configuração e sobre app*/
.secao_direita{
    padding: 1rem;
    height: 100vh;
}
#title_config, #title_help{
    color: var(--roxo-main);
    text-align: center;
    font-family: "Montserrat_black";
    font-size: 3.5rem;
}
#boxconfig,#boxhelp{
    background-color: var(--branco);
    border-radius: .5rem;
    height: 80%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.171);
    padding: 2rem;
    margin-top: 1rem;
    font-size: .9rem;
}
/* estilização da aria direta da pagina configurações */
#boxaparencia{
    padding: 1em;
}
#boxaparencia h3{
    color: var(--roxo-main);
}
#boxaparenciacor{
    margin: .5rem;
    display: flex;
    align-items: center;
}
.btnCorlors{
    margin: .5rem;
    width: 5%;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s ease;
}
.btnCorlors:hover{
    border: rgba(0, 0, 0, 0.726) solid 1px;
}
#btnCor1{
    background-color: var(--roxo-main)
}
#btnCor2{
    background-color: var(--azul)
}
#btnCor3{
    background-color: var(--vermelho);
}
#boxfont{
    margin: .5rem; 
}
#inputfont{
    margin-left: .5rem;
    margin-right: .5rem;
    width: 10%;
    outline: none;
    font-family: "Montserrat_medium";
}
#boxstorage{
    padding: 1rem;
}
#boxstorage h3{
    color: var(--roxo-main);
}
#boxstorage button{
    color: var(--roxo-main);
    background-color: var(--preto);
    width: 20%;
    padding: .6rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    margin: .5rem;
    font-family: "Montserrat_medium";
}
#boxstorage button:hover{
    background-color: var(--roxo-main);
    color: var(--branco);
}
#boxstorage button:hover:active{
    background-color: var(--roxo-secund);
}
#btnsconfig{
    display: flex;
    justify-content: end;
    align-items: end;
    height: 40%;
}
#btnsconfig button{
    margin-left: 1rem;
    width: 15%;
    height: 20%;
    border-radius: 3rem;
    border: none;
    outline: none;
    background-color: var(--preto);
    color: var(--branco);
    font-family: "Montserrat_medium";
    cursor: pointer;
}
#btnsconfig button:hover{
    background-color: var(--roxo-main);
}
#btnsconfig button:hover:active{
    background-color: var(--roxo-secund);
}

/* estilização da aria direta da pagina configurações */
#boxversao{
    padding: 1em;
}
#boxversao div{
    display: flex;
    align-items: center;
    gap: .3rem;
}
#boxversao #versaotitle{
    color: var(--roxo-main);
}
#boxversao h3{
    color: var(--preto);
}
#boxdescricao{
   padding-right: 1rem;
   padding-left: 1rem;
}
#boxdescricao p{
    padding: .5rem;
}
#boxredes{
    padding-right: 1rem;
   padding-left: 1rem;
}
#boxredes p{
    padding: .5rem;
}
#dica{
   padding-right: 1rem;
   padding-left: 1rem;
   font-size: .6rem;
}
#dica p{
    padding: .5rem;
}

/* estilização da janela 
modal type list */

#modaltypelist{
    width: 100vw;
    height: 100vh; 
    background-color: rgb(0, 0, 0, 0.7);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    position: absolute;
    z-index: 1000;
}
#boxtypelist{
    background-color: var(--branco);
    padding: 5%;
    width: 48%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#btnCancel {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: var(--roxo-main);
    position: absolute;
    top: 12%;
    right: 27.4%;
    cursor: pointer;
    font-size: 1rem;
    color: var(--branco);
    font-family: "Montserrat_black";
}
#btnCancel:hover{
    background-color: var(--roxo-secund);
}
#btnCancel:hover:active{
    background-color: var(--roxo-main);
}
#imgmodallist{
    display: flex;
    align-items: center;
    justify-content: center;
}
#imgmodallist img{
    width: 75%;
}
#modallistinfo{
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
}
#modallistinfo h1{
    color: var(--roxo-main);
}
#boxmodallist{
    display: flex;
    justify-content: center;
}
.btnsmodallist{
    width: 35%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    font-family: "Montserrat_medium";
    font-size: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    background-color: var(--roxo-secund);
    color: var(--branco);
    border: none;
    outline: none;
    cursor: pointer;
}
.btnsmodallist:hover{
    background-color: var(--roxo-main);
}
.btnsmodallist:hover:active{
    background-color: var(--roxo-secund);
}

/* estilização da janela 
tipo de lista normal */
#boxlistinputnormal{
    display: flex;
    align-items: center;
    border: var(--roxo-main) solid 3px;
    border-radius: 4rem;
    padding: .2rem;
    
}
#inputlistnormal{
    background-color: var(--roxo-main);
    height: 3rem;
    border-radius: 4rem;
    border: none;
    outline: none;
    width: 75%;
    padding: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-family: "Montserrat_medium";
    
}
#inputlistnormal::placeholder{
    color: var(--branco);
}
#btn_delet_tasks{
    margin-right: 1.5rem;
}
#box_btns_list_normal{
    padding: 1rem;
}
.btnListNormal{
    width: 15%;
    height: 30px;
    margin: 0px .5rem;
    background-color: var(--roxo-main);
    border: none;
    border-radius: 1rem;
    font-family: "Montserrat_bold";
    font-size: 1rem;
    color: var(--preto);
}
.btnListNormal:hover{
    background-color: var(--roxo-secund);
    color: var(--branco);
}
.btnListNormal:hover:active{
    background-color: var(--roxo-main);
}
#boxdisplaylistnormal{
    background-color: var(--branco);
    height: 75%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.171);
}
#boxtitle_list_normal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#boxdisplaylistnormal #boxtitle_list_normal h1{
    color: var(--roxo-secund);
    font-size: 3rem;
    font-weight: 900;
    margin-left: .2rem;
}
.boxcategorias{
    border-radius: 3rem;
    border: var(--roxo-main) solid 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}
.boxcategorias select{
    border: none;
    outline: none;
    appearance: none;
    width: 90%;
    color: var(--cinza-escuro);
}
.boxcategorias img{
    width: 9%;
}
.boxTasklistnormal{
    padding-top: 1rem;
    padding-right: .5rem;
    padding-left: 2rem;
}
.boxTask{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxTask1{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.boxTask1 span{
    font-weight: 700;
}
.checkbox{
    width: 10%;
}
.boxTask2{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.boxTask2 img{
    width: 20%;
}
.descricaoTask{
    padding-left: 3rem;
    padding-right: 6rem;
}
.txtDescricao{
    resize: none;
    width: 100%;
    border: none;
    font-family: "Montserrat_medium";
}

/* aria da responsividade com media query */
@media screen and (max-width:2000px){
    #secao_direita_list_normal{
        display: none;
    }
    #secao_direita_config{
        display: none;
    }
    #secao_direita_help{
        display: none;
    }
}