:root{
    --preto: #353535;
    --roxo-main: #c935f2;
    --roxo-secund:#4c1a59;
    --cinza: #f0f0f0;
    --branco: #ffffff;
    --cinza-escuro:#b1b1b1;
    --azul:#5d35f2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    width: 100vw;
    height: 100vh;
    font-size: 100%;
    font-family: "Montserrat";
    background-color: var(--cinza);
}
/* estilização da caixa modal da pagina inicial */
#modalbox{
    width: 100vw;
    height: 100vh; 
    background-color: rgb(0, 0, 0, 0.7);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    
}
#modalbox .box1{
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 1rem;
}
#modalbox .boximg{
    display: flex;
    justify-content: center;
}
#modalbox .boximg img{
  width: 30%;

}
.boxinfo{
    text-align: center;
}
#modalbox input{
    font-family: "Montserrat_medium";
    width: 60%;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--roxo-main);
    text-align: center;
    outline-color: var(--azul);
    font-size: 1rem;
    color: var(--branco);
}
#modalbox input::placeholder{
    color: var(--preto);
    text-align: center;
    font-family: "Montserrat_medium";
}
#modalbox button{
    width: 40%;
    height: 2rem;
    border-radius: 2rem;
    outline: none;
    border: var(--roxo-main) solid;
    background-color: transparent;
    font-family: "Montserrat_medium";
    color: var(--roxo-main);
    cursor: pointer;

}
#modalbox button:hover{
    color: var(--preto);
    border: none;
    background-color: var(--roxo-main);
}
#modalbox button:hover:active{
    background-color: #d574f0;
}

/* estilização da pagina inicial */

/* estilização da aria esquerda da pagina inicial */
#pagina_inicial{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
#secao_esquerda{
    background-color: var(--branco);
    height: 100vh;
    padding: 10%;
    
}
.logoPq{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8%;
}
#boxmenu{
    background-color: var(--cinza);
    border-radius: 10%;
    padding: .5rem;
    margin-bottom: 2rem;
}
.boxmenuitems{
    display: flex;
    align-items: center;
    padding: .3rem;
    font-size: 1rem;
    
}
.boxmenuitems img{
    width: 15%;
    margin-right: .4rem;
}
#boxfilter{
    background-color: var(--cinza);
    border-radius: 10%;
    padding: .8rem;
    height: 60%;
}
#filter{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4rem;
    border-radius: .8rem;
    border: var(--roxo-main) solid;
}
#filter img{
    width: 2%;
    position: absolute;
    left: 11%;
}
#filterlist{
    border: none;
    outline: none;
    appearance: none;
    width: 100%;
    position: relative;
    background-color: transparent;
    z-index: 999;
    color: var(--cinza-escuro);
}
#displayfilter{
    padding: .8rem;
    display: flex;
    flex-direction: column;
}
.display_filter_itens{
    margin-bottom: .4rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align: start;
    font-family: "Montserrat_medium";
}

/* estilização da aria direita da pagina inicial */
#secao_direita{
    padding: 2rem;
}
#boxtitle{
    display: flex;
    margin-bottom: 1rem;
    align-items: end;
}
#boxtitle h1{
    font-weight: 900;
}
#boxtitle p{
    display: flex;
    align-items: end;
    margin-bottom: .3rem;
    margin-left: 0.3rem;
}
#boxtoolbar{
    border: var(--roxo-main) solid;
    display: flex;
    padding: .5rem;
    border-radius: 5rem;
    align-items: center;
    gap: 2rem;
}
#btn_new_list{
    background-color: var(--roxo-main);
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--preto);
    width: 30%;
    border-radius: 5rem;
    font-size: 2rem;
    font-family: "Montserrat_black";
}
.btn_clean{
    border: none;
    outline: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
}
#boxtoolbar p{
    font-size: 1rem;
}
#boxsearch{
    background-color: var(--branco);
    width: 20%;
    display: flex;
    justify-content: space-between;
    padding: .4rem;
    border-radius: 5rem;
    flex: .1rem;
}
#input_search{
    border: none;
    outline: none;
    width: 100%;
}
#boxsearch img{
    width: 5%;
}
#display_list{
    background-color: var(--branco);
    margin-top: 1rem;
    border-radius: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
    padding: 1rem;
    height: 410px;
    
}
.list{
    background-color: var(--roxo-main);
    border-radius: 2rem;
    padding: 1.5rem;
    display: flex;
    align-items: end;
    max-height: 130px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 1rem;
    height: 120px;
}
/* aria da responsividade com media query */
@media screen and (max-width:2000px){
    #modalbox{
        display: none;
    }
}