@font-face {
    font-family: "Montserrat_regular";
    src: url(./Montserrat-Regular.ttf) format(woff2);
}
@font-face {
    font-family: "Montserrat_medium";
    src: url(./Montserrat-Medium.ttf) format(woff2);
}
@font-face {
    font-family: "Montserrat_semibold";
    src: url(./Montserrat-SemiBold.ttf) format(woff2);
}
@font-face {
    font-family: "Montserrat_bold";
    src: url(./Montserrat-Bold.ttf) format(woff2);
}
@font-face {
    font-family: "Montserrat_extrabold";
    src: url(./Montserrat-ExtraBold.ttf) format(woff2);
}
@font-face {
    font-family: "Montserrat_black";
    src: url(./Montserrat-Black.ttf) format(woff2);
}